@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

/* Code Quiz Color Palette */
:root {
    --pink: rgba(255, 71, 175, 1);
    --red: rgba(227, 35, 90, 1);
    --cream: rgb(255, 251, 239);
    --blue: rgba(66, 164, 215, 1);
    --teal: rgba(53, 190, 183, 1);
    --green: rgba(177, 193, 54, 1);
    --yellow: rgba(255, 206, 47, 1);
    --purple: rgba(92, 61, 114, 1);
    --orange: rgba(242, 99, 36, 1);
    --dark: rgba(26, 19, 51, 1);
  }

/* Top Section Format*/
.heading-items {
    display: flex;
    justify-content: space-between;
}

/* Question Number */
#question-text {
    font-size: 55px;
    font-weight: bold;
    color: var(--yellow);
    align-items: center;
    justify-content:center;
}

#question-count {
    font-size: 45px;
}

/* Score & Timer Container */
.score-time-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

/* TImer */
.timer-count {
    color: var(--cream);
    font-size: 50px;
}

.timer-text {
    color: var(--pink);
    font-size: 35px;
    font-weight: bold;
}


/* Score */
#score-count {
    color: var(--cream);
    font-size: 50px;
}

.score-text {
    color: var(--pink);
    font-size: 35px;
    font-weight: bold;
}
 

/* Question */  
#question {
    font-size: 37px;
    color: var(--blue)
}

/* Answers */
.answer-choice {
    display: flex;
    margin-bottom: 20px;
    height: 70px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--teal);
    font-size: 35px;
    font-weight: bold;
    color: var(--dark)
}

.answer-choice:hover {
    color: var(--cream);
    box-shadow: -1px 3px 20px var(--teal);
    transition: transform 100ms;
}

.choice-text {
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.correct {
    background-color: var(--green)
}

.incorrect {
    background-color: var(--red);
}
