@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');


/* Code Quiz Color Palette */
:root {
    --pink: rgba(255, 71, 175, 1);
    --red: rgba(227, 35, 90, 1);
    --cream: rgb(255, 251, 239);
    --blue: rgba(66, 164, 215, 1);
    --teal: rgba(53, 190, 183, 1);
    --green: rgba(177, 193, 54, 1);
    --yellow: rgba(255, 206, 47, 1);
    --purple: rgba(92, 61, 114, 1);
    --orange: rgba(242, 99, 36, 1);
    --dark: rgba(26, 19, 51, 1);
  }

/* High Scores Text */
#leaderboard {
    color: var(--teal);
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* High Scores Name List */
#leaderboardList {
    font-size: 45px;
    font-weight: bold;
    color: var(--cream);
    margin-bottom: 20px;
}
/* Go Home Button */
#goHomeButton {
    background-color: var(--green);
    color: var(--purple);
    border: none;
}

#goHomeButton:hover {
    color: var(--cream);
    box-shadow: -1px 3px 20px var(--green);
    transition: transform 100ms;
}